<div class="container mt-4 mb-4">

  <h2>Ajouter un livre</h2>

  <form (ngSubmit)="saveLivre(livre)" #livre="ngForm" class="d-flex flex-column align-items-center">
    <div class="mb-3 col-lg-6">
      <label class="form-label">Image</label>
      <input type="text" name="image" class="form-control" ngModel required placeholder="Url de l'image">
    </div>
    <div class="mb-3 col-lg-6">
      <label class="form-label">Titre</label>
      <input type="text" name="titre" class="form-control" ngModel required placeholder="titre du livre">
    </div>
    <div class="mb-3 col-lg-6">
      <label class="form-label">Auteur</label>
      <input type="text" name="auteur" class="form-control" ngModel required placeholder="Auteur du livre">
    </div>
    <div class="mb-3 col-lg-6">
      <label class="form-label">Genre</label>
      <input type="text" name="genre" class="form-control" ngModel required placeholder="Genre">
    </div>
    <div class="mb-3 col-lg-6">
      <label class="form-label">Prix</label>
      <input type="text" name="prix" class="form-control" ngModel required placeholder="Prix">
    </div>

    <button type="submit" class="btn btn-success mb-3 mt-4">Ajouter</button>
    <button routerLink="/livres" class="btn btn-danger mb-3 mt-4"><i class="fa-solid fa-xmark"></i> Ne pas
      ajouter <i class="fa-solid fa-xmark"></i></button>

  </form>

</div>
