<article class="contact">
  <div class="formContact col-sm-6 mx-auto">
    <form>
      <div class="row mb-3 mt-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nom">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Prenom">
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Email">
      </div>
      <div class="form-group mb-3">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
      </div>
      <button type="submit" class="btn btn-dark rounded-0 mb-3 mt-3">Envoyer</button>
    </form>
  </div>
</article>
