<Article class="container">
  <h2 class="my-5">Livres</h2>


  <div class="AllCard">
    <div class="Card" *ngFor="let l of livres">
      <div class="imageLivre">
        <img src="{{l.image}}" alt="">
      </div>
      <div class="textAndBtn">
        <ul class="CardText">
          <div class="tittleDiv">
            <li class="title">{{l.titre}}</li>
          </div>
          <span></span>
          <li class="auteur"><i class="fa-solid fa-pen-fancy"></i> {{l.auteur}}</li>
          <li class="genre"><i class="fa-solid fa-book-bookmark"></i> {{l.genre}}</li>
          <li class="prix">{{l.prix}} €</li>
        </ul>
        <div class="buttons">
          <button type="button" class="btn btn-dark" (click)="editLivre(l)" data-bs-toggle="modal"
            data-bs-target="#exampleModal" title="Editer"><i class="fa-regular fa-pen-to-square"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteLivre(l._id)" title="Supprimer"><i
              class="fa-regular fa-trash-can"></i>
          </button>
        </div>
      </div>
      <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><i class="fa-regular fa-pen-to-square"></i> Modifications
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="AllLivres()"></button>
            </div>

            <div class="modal-body">
              <!-- """""""""""""""""""""""""""Formulaire dans modal """""""""""""""""""""""""""""""""""" -->
              <form>
                <div class="mb-1">
                  <label for="exampleInputEmail1" class="form-label">Image</label>
                  <input type="text" name="image" [(ngModel)]="produitAmodifier.image" class="form-control">
                  <div class="d-flex justify-content-center">
                    <img class="mt-3" style="width: 150px;" src="{{produitAmodifier.image}}" alt="">
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Titre</label>
                  <input type="text" name="titre" [(ngModel)]="produitAmodifier.titre" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Auteur</label>
                  <input type="text" name="auteur" [(ngModel)]="produitAmodifier.auteur" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Genre</label>
                  <input type="text" name="genre" [(ngModel)]="produitAmodifier.genre" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Prix</label>
                  <input type="text" name="prix" [(ngModel)]="produitAmodifier.prix" class="form-control">
                </div>
                <div class="d-flex justify-content-evenly">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="AllLivres()">Annuler
                  </button>
                  <button type="submit" class="btn btn-dark" data-bs-dismiss="modal"
                    (click)="savemodification()">Enregistrer
                  </button>
                </div>
              </form>
              <!-- :::::::::::::::::::::::::::Fin du formulaire ::::::::::::::::::::::: -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-5 mb-4">
    <a class="btn btn-light btn-add-livre" routerLink="/addbook"><i class="fa-solid fa-plus"></i> livre</a>
  </div>
</Article>
