@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Tai+Heritage+Pro&display=swap');
#logoNavBar{
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Tai Heritage Pro', serif;
}
.navbar a{
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: large;    
}
.form-control{
    border-radius: 0;
}
.btn{
    border-radius: 0;
}
