<article id="HomePresentation" class="d-flex">
    <section id="sectionLeft" class="d-flex justify-content-center align-items-center bg-light">
        <div id="blocLeft">
            <img id="logoHomePage" src="../../assets/images/logoAndText.png" class="my-5" alt="">
            <p class="my-5">Site numéro 1 pour Bookiner, installez-vous prennez une thé ou un café et visiter notre boutique de livres. <br> Il y en a pour tous les goûts !</p>
            <button type="button" class="btn btn-dark my-3 p-3">DÉCOUVRIR NOS LIVRES</button>
        </div>  

    </section>
    <section id="sectionRight">
        <div id="blocImgSectionRight"></div>
    </section>
</article>
<article id="bestsellers" class="bg-light">
    <h2 class="text-center text-uppercase pt-5 pb-3 ">Nos meilleures ventes</h2>
    <span class="blackLine mb-5"></span>
    <div class="AllCards">
        <div class="Card">
            <div class="cover">
                <img src="../../assets/images/livres/lotrCover.jpg" alt="">
            </div>
            <div class="details">
                <div class="detailsList">
                    <img src="../../assets/images/livres/lotr.jpg" alt="">
                    <h3 class="mt-3">Le Seigneur des Anneaux</h3>
                    <h4>19,99 €</h4>
                    <a href="">Acheter</a>
                </div>
            </div>
        </div>
        <div class="Card">
            <div class="cover">
                <img src="../../assets/images/livres/petitPrinceCover.jpg" alt="">
            </div>
            <div class="details">
                <div class="detailsList">
                    <img src="../../assets/images/livres/petitPrince.jpg" alt="">
                    <h3 class="mt-3">Le Petit Prince</h3>
                    <h4>19,99 €</h4>
                    <a href="">Acheter</a>
                </div>
            </div>
        </div>
        <div class="Card">
            <div class="cover">
                <img src="../../assets/images/livres/HarryPotterCover.jpg" alt="">
            </div>
            <div class="details">
                <div class="detailsList">
                    <img src="../../assets/images/livres/HarryPotter.jpg" alt="">
                    <h3 class="mt-3">Harry Potter</h3>
                    <h4>19,99 €</h4>
                    <a href="">Acheter</a>
                </div>
            </div>
        </div>
        <div class="Card">
            <div class="cover">
                <img src="../../assets/images/livres/TwilightCover.jpg" alt="">
            </div>
            <div class="details">
                <div class="detailsList">
                    <img src="../../assets/images/livres/Twilight.jpg" alt="">
                    <h3 class="mt-3">Twilight</h3>
                    <h4>19,99 €</h4>
                    <a href="">Acheter</a>
                </div>
            </div>
        </div>
        <div class="Card">
            <div class="cover">
                <img src="../../assets/images/livres/DaVinciCover.jpg" alt="">
            </div>
            <div class="details">
                <div class="detailsList">
                    <img src="../../assets/images/livres/DaVinci.jpg" alt="">
                    <h3 class="mt-3">Da Vinci Code</h3>
                    <h4>19,99 €</h4>
                    <a href="">Acheter</a>
                </div>
            </div>
        </div>
    </div>  
</article>
<article id="team" class="bg-light">
    <h2 class="text-center text-uppercase pt-5 pb-3 ">Notre équipe</h2>
    <span class="blackLine mb-5"></span>
    <div class="AllCardCharacter pt-5">
        <div class="cardCharacter m-5">
            <div class="imgBx"><img src="../../assets/images/team/portrait1.jpg" alt=""></div>
            <div class="content">
                <div class="details">
                    <h5>Marie Wang <br> <span>Senior UX/UI Designer</span> </h5>
                    <div class="data">
                        <h6>256K <br> <span>Followers</span> </h6>
                        <h6>128 <br> <span>Post</span> </h6>
                        <h6>349K <br> <span>Following</span> </h6>
                    </div>
                    <div class="actionBtn pt-3">
                        <button>contact</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardCharacter m-5">
            <div class="imgBx"><img src="../../assets/images/team/portrait2.jpg" alt=""></div>
            <div class="content">
                <div class="details">
                    <h5>Simon Robben <br> <span>Back-end Developper</span> </h5>
                    <div class="data">
                        <h6>256K <br> <span>Followers</span> </h6>
                        <h6>128 <br> <span>Post</span> </h6>
                        <h6>349K <br> <span>Following</span> </h6>
                    </div>
                    <div class="actionBtn pt-3">
                        <button>contact</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardCharacter m-5">
            <div class="imgBx"><img src="../../assets/images/team/portrait3.jpg" alt=""></div>
            <div class="content">
                <div class="details">
                    <h5>Andrea Piacquadio <br> <span>Marketing</span> </h5>
                    <div class="data">
                        <h6>256K <br> <span>Followers</span> </h6>
                        <h6>128 <br> <span>Post</span> </h6>
                        <h6>349K <br> <span>Following</span> </h6>
                    </div>
                    <div class="actionBtn pt-3">
                        <button>contact</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardCharacter m-5">
            <div class="imgBx"><img src="../../assets/images/team/portrait4.jpg" alt=""></div>
            <div class="content">
                <div class="details">
                    <h5>Justin Shaifer <br> <span>Front-end Developper</span> </h5>
                    <div class="data">
                        <h6>256K <br> <span>Followers</span> </h6>
                        <h6>128 <br> <span>Post</span> </h6>
                        <h6>349K <br> <span>Following</span> </h6>
                    </div>
                    <div class="actionBtn pt-3">
                        <button>contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>
